@keyframes stop{
    0% { background-color: black;}
    50% {background-color: red;}
    75% {background-color: greenyellow;}
    80% {background-color: blue;}
    100% {background-color: fuchsia;}

}
.stop:hover{
    animation-name: stop;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    width: 400px;
    height: 400px;
    border-radius: 200px;
}

h1{
    animation-name: stop;
    animation-duration: 8s;
}

/* @keyframes wait{
    from{ background-color: black;}
    to {background-color: yellow;}

}

.wait{
    animation-name: wait;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 7s;
} */



div{
    background-color: black;
    width: 200px; height: 200px;
    border-radius: 100px;
    margin-left: 40%;
    margin-top: 1%;
}